/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styling */
body {
  font-family: CooperHewittBook;
  font-size: 22px;
  background: black;
  color: white;
  height: 100vh; /* Ensure the body fits the screen height */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

/* Headings */
h1 {
  font-family: CooperHewittHeavy;
  line-height: 52px;
  text-align: left;
  font-size: 56px;
}

h2 {
  font-family: CooperHewittBook;
  font-size: 16px;
  font-weight: 600;
}

summary {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.title {
  padding-top: 20px;

}



image:hover {
  filter: none;
}

a {
  color: inherit;
}

.blocker {
  display: block;
  padding-left: 400px;

}


.footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding: 15px;
  padding-bottom: 20px;
  width: 400px;
  flex: none;
  position: relative;
  font-size: 16px;
  justify-content: space-between;

}


/* Grid container */
.grid-container {
  display: grid;
  grid-auto-flow: column; /* Columns grow horizontally */
  grid-auto-columns: minmax(100px, 1fr); /* Flexible column widths */
  height: 100%; /* Adjust for header height */
  background-color: white;
  gap: 0; /* No spacing between columns */
}


/* Header styling */
.header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: fixed; /* Ensure the header is fixed */
  bottom: 0;
  background-color: black;
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

/* Gradient items */
.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: darken;
    cursor: pointer;
}

.btnControl {
  display: none;
}


.gradient:has(.btnControl:checked) {
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: scale(1.5, 1.0);
  transform-origin: center;
  /*order: -1;*/


}



.gradient:has(.btnControl:not(:checked)):hover {
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s !important;
}

.gradient:has(.btnControl:checked):hover {
}



.content {
  padding-bottom: 20px;
  font-family: FragmentMono;
  font-size: 16px;
  line-height: 20px;
  display: none;

}

.text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-bound {
  text-align: right;
}

.waves {
  position: relative;
  width: 370px; 
  height: 100%; 
  background-color: white;
  margin-top: 20px;
  display: none;
}

.wave {
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  display: none;

}

@keyframes example {
  from {  background-position: 0px 0px;}
  to {  background-position: 0px 200vh;}
}

@media screen and (max-width: 980px) {
  body {
    flex-direction: column;
    font-size: 6vw;
  }

  svg {
    height: 100%;
  }

  h1{
    font-size: 16vw;
    line-height: 15vw;
  }

  .grid-container {
    grid-auto-flow: row;
    grid-auto-rows: minmax(100px, 1fr);

  }

  .content {
    padding-right: 20px;
    padding-bottom: 0px;
  }

  .header {
    width: 100%;
    height: 50%;


    overflow-x: auto;
    flex-direction: row;
  }

  .blocker {
      padding-left: 0px;
      padding-top: 50vh;
      order: 300;
  }

  .gradient {
  }

  .footer {
    display: none;
  }

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

  .gradient:has(.btnControl:checked) {
    transform: scale(1.0, 1.0);
  }

  .title {
    padding-top: 5px;
  }

  .text {
    display: none;
  }

.gradient:has(.btnControl:not(:checked)):hover {
  animation-name: none;
}


  }

}







